App/build
App/Pods
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Capacitor configuration
App/App/capacitor.config.json
App/App/GoogleService-Info.plist