<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <provider
            android:name="com.facebook.internal.FacebookInitProvider"
            android:authorities="${applicationId}.FacebookInitProvider"
            android:exported="false"
            tools:node="remove" />
        <activity
            android:name="ee.forgr.capacitor.social.login.TwitterLoginActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" />
        <activity
            android:name="ee.forgr.capacitor.social.login.OAuth2LoginActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" />
    </application>
</manifest>
